.circle {
    width: 100px;
    height: 100px;
    background-color: turquoise;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.circle span {
    color: grey;
    font-size: 16px;
}